body{
    margin: 0;
    padding: 0;
}
.header{
    background-color: black;
    margin: 0;
    padding: 10px;
    
}
.navbar{
    display: flex;
    flex-flow: row nowrap ;
    justify-content: space-around;
    align-items: center;
    max-width: 70%;
    margin: 0 auto;
    color: aliceblue;
    height: 4em;
}
.main-logo{
    margin: auto 0;
    font-size: 2em;
    font-weight: bolder;
    text-shadow: 0 0 10px #cef7e0;
}
.main-logo:hover{
    text-shadow: 0 0 15px #eb8aa2;
}
.main-logo>a{
    text-decoration: none;
    color: wheat;
}
button{
    border-radius: 7px;
    width: 8em;
    height:2.5em;
    font-weight: normal;
    background-color: rgb(70, 194, 70);
    padding: 8px;
    font-size: medium;
}
button:hover{
    background-color: aliceblue;
    box-shadow: 1px 2px 5px 2px rgb(33, 80, 32);
    cursor: pointer;
}
   
.nav-links{
    flex-grow: 3;
}
.nav-links ul{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 5%;
}

.navbar .nav-links ul li{
    list-style: none;
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}
.navbar .nav-links ul li:hover{
    color: aquamarine;
    cursor: pointer;
    padding-bottom:5px ;
    border-bottom: 2px solid rgb(0, 97, 13);
}

.banner-container {
    width: 100%;
    height:3.5rem;
    padding:10px;
    background-color: transparent; 
    color: rgb(129, 39, 39);
    text-align: center;
    position: relative;
    top: 0;
    overflow: hidden;
    font-size: 2em;
    font-weight: bold;
  }

  @keyframes moveBanner {
    0% { left: 180%; }
    100% { left: -100%; }
  }

  .banner-text {
    position: absolute;
    top: 50%;
    left: 100%;
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    animation: moveBanner 30s linear infinite;
  }

.cover-image{
   background-image: url('../img/doctor.jpg');
   background-repeat: no-repeat;
   background-size: cover;
}

div.welcome{
    width: 100%;
    height:150vh;
    color: rgb(255, 255, 255);
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
    height: 700px;
    margin-top: 0;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div.welcome h1:first-of-type{
    margin: 0;
    color: rgb(233, 170, 75);
    font-size: 3em;
    text-decoration: underline;
    text-decoration-color: rgb(221, 176, 108);
    text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}
div.welcome h1{
    color: rgb(140, 72, 146);
}
div.welcome p{
max-width: 50%;
margin: 10px;
color: rgb(255, 255, 255);
font-weight: bold;
letter-spacing: 0.15px;
}

div.welcome button:first-of-type{
    border-radius: 10px;
    margin: 10px;
    width: 10em;
    height: 4em;
    color: rgb(21, 43, 104);
    font-weight: bold;
    background-color: whitesmoke;
    font-size: small;
}
div.welcome button:first-of-type:hover{
    background-color: rgb(71, 150, 68);
    color: white;
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}
div.welcome button:last-of-type{
    border-radius: 10px;
    margin: 10px;
    width: 10em;
    height: 4em;
    color: rgb(215, 224, 250);
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    font-size: small;
}
div.welcome button:last-of-type:hover{
    background-color: #163825;
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}
.body{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.features-container{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}
.feature-subcontainer{
    text-align: left;
    max-width: 30%;
}
div[class|=feature] h3,p{
    margin-bottom: 0;
    padding-bottom: 0;

}